nav.bg-custom{
	background-color: #00695c;
	padding: 12px;
	
}

.navbar-nav li:hover  {
	background-color: #212121;
	border-radius: 15px;
}
.navbar{
	padding: 12px;
}

h4
{
	color:#004d40;
}

.btn {
  display: inline-block;
  margin: 0 auto;
}

